html,
body {
  height: 100%;
  background-color: getColor(lightblue);
}

.col-header {
  background-color: getColor(lightgreen);
  max-width: 100%;
  height: 70px;
  padding: 20px;
  border-radius: 10px;
}
.col-md {
  height: 253px;
  max-width: 556px;
  background-color: getColor(white);
  margin: 10px;
  border-radius: 10px;
}
.header {
  text-align: center;
  color: getColor(white);
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: getColor(lightbeige);
  flex-shrink: 0;
  padding: 0.5em;
  //   .footer-mail {
  //     margin-left: 2%;
  //   }
  //   .footer-cpyright {
  //     margin-right: 2%;
  //   }
}
.wrapper {
  flex: 1 0 auto;
}
