$colors: (
  transparentblack: rgba(38, 38, 38, 0.792),
  transparentwhite: rgba(255, 255, 255, 0.682),
  transparenthover: rgba(141, 240, 202, 0.682),
  lightblue: #8dbde7,
  lightgreen: #81cfc2,
  yellow: #efef94,
  white: #ffffff,
);
@function getColor($color) {
  @return map-get($colors, $color);
}
